.hero {
    background:rgb(240, 237, 237);
    text-align:center;
    padding:4rem 1rem;
 }

.hero h2 {
    font-size:2rem;
    color:darkred;
 }

.hero p { 
    color:black; 
    margin:1rem 0;
 }
.hero-btn {
    background:red;
    color:white;
    border:none;
    padding:0.7rem 1.5rem;
    border-radius:8px;
    cursor:pointer; }
    
.hero-btn:hover {
    background:rgb(224, 30, 30);
}