.Veiculos-cards
{ background:white;
  border-radius:12px; 
  box-shadow:0 3px 8px grey; 
  padding:1.5rem; 
  text-align:center; 
  transition:0.2s; }
 
.Veiculos-cards:hover {
     transform:scale(1.02); 
    }

.ImagemVeiculo { 
    width:100%; 
    height:360px; 
    object-fit:contain; 
    border-radius:8px;
    

 }

.categoria {
    color:rgb(116, 110, 110);
 }
.assentos { 
    font-size:0.95rem;
    color:rgb(68, 63, 63);
    margin:0.5rem 0;
 }
.preco {
    font-weight:bold;
    color:green; 
    margin-top:0.25rem; 
}
.disponivel {
    font-size:0.85rem; 
    color:rgb(5, 227, 5); 
    margin-top:0.25rem;
 }

.indisponivel {
    color:red;
    font-weight:bold;
    margin-top:0.5rem;
 }

.NaoDisponivel {
    background:rgb(242, 213, 213);
    border:1px solid red;
 }

.NaoDisponivel .ImagemVeiculo {
    filter:grayscale(10%);
    opacity:0.8;
}

.btn-secondario {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.btn-secondario:hover {
  background-color: rgb(211, 21, 21);
}