/* Pagina de estilos global*/
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body { 
    font-family: 'Tahoma';
    background:#f9fafb;
    color:#271111; }

.app-container {
    min-height: 100vh; 
    display:flex; 
    flex-direction:column; 
}


